#nova-metodologia {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider-container {
  width: 1844px;
  padding: 180px 0;
  position: relative;
}

// .slick-dots {
//   position: absolute;
//   top: 0;
//   left: 120px;
// }

// .slick-dots li.slick-active button:before {
//   opacity: 0.75;
//   color: red;
//   transform: scale(4);
// }

// .slick-dots li button:before {
//   opacity: 0.75;
//   transform: scale(2);
// }
