#resultados-inteligencia {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 182px;
  width: 1378px;

  h3 {
    font-family: Cairo, sans-serif;
    font-size: 55px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 167px;
  }
}

#carrossel-resultados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 16px;
  position: relative;

  p {
    color: #fff;
    font-family: Cairo, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .sign-and-number {
    display: flex;
    align-items: center;
    line-height: 200px;
  }

  .plus-sign {
    font-size: 200px;
    font-weight: 300;
    color: #707070;
  }

  .result-number {
    font-size: 200px;
    font-weight: 700;
  }

  .bigger-description {
    font-family: Raleway;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
  }

  .smaller-description {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
  }
}

#controllers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 517px;
  position: absolute;
  right: 0;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  #down-arrow {
    transform: rotateX(180deg);
  }
}
