header {
  display: flex;
  padding-top: 30px;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
}

@media (max-width: 62em) {
  header {
    position: static;
    padding: 16px;
    justify-content: center;
  }
}

@media (min-width: 62em) {
  header {
    padding-right: 20px;

    nav {
      margin-left: 40px;
    }
  }
}

@media (min-width: 80em) {
  header {
    padding-right: 30px;

    nav {
      margin-left: 60px;
    }
  }
}

@media (min-width: 96em) {
  header {
    padding-right: 40px;

    nav {
      margin-left: 100px;
    }
  }
}
