header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  padding: 46px 142px 0 0;

  img {
    margin-right: 100px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      font-family: Sora, sans-serif;
      text-decoration: none;
      color: white;
      font-weight: 400;
      font-size: 22px;
      line-height: 27px;
      margin: 0 23px;
    }
  }
}
