.chapter {
  color: #ffffff;
  margin-right: 40px;
  text-align: center;
  width: 392px;
  height: 121px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;

  .chapter-number {
    font-family: Cairo, sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 65px;
  }

  .chapter-title {
    font-family: Cairo, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 65px;
  }

  .chapter-description {
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
  }
}
