#benefits-content {
  color: #fff;
  width: 834px;

  h3 {
    font-family: Cairo, sans-serif;
    font-size: 55px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 36px;
  }

  .item-btn {
    background-color: transparent;
    border: none;
    margin-top: 27px;
    cursor: pointer;
  }

  .item-title {
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    line-height: 60px;
    font-weight: 300;
    font-style: italic;
    margin-right: 20px;
    display: inline;
  }

  .fake-underline {
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
  }

  .item-text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 22px;
  }
}
